<html>
<head>
    <title>{% block title %}BlueBear Admin{% endblock %}</title>
</head>
<body>
    <div class="top-menu">
        <ul>
            <li><a href="{{ path('bluebear_backoffice_homepage') }}">Homepage</a></li>
            <li><a href="{{ path('bluebear_backoffice_image') }}">Images</a></li>
            <li><a href="{{ path('bluebear_backoffice_pencil') }}">Pencils</a></li>
        </ul>
    </div>
    <!-- flash messages -->
    <div class="alert-container">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
                <button type="button" class="close">×</button>
            </div>
        {% endfor %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
<footer>

</footer>
</body>
</html>