{% set route = app.request.get('_route') %}
{% set isLogged = app.user %}

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand {{ route[:'bluebear_backoffice_homepage'|length] == 'bluebear_backoffice_homepage' ? 'active' : '' }}"
               href="{{ path('bluebear_backoffice_homepage') }}">BlueBear by CleverGaming</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                {% if isLogged %}
                    {% include 'BlueBearBackofficeBundle:Menu:top_menu.items.html.twig' %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>