{% extends 'BlueBearBackofficeBundle::layout.html.twig' %}

{% block rightMenu %}
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('bluebear_backoffice_pencil_edit') }}">Add new pencil</a></li>
        <li><a href="{{ path('bluebear_backoffice_pencil_set_edit') }}">Add new pencil set</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% set title = 'Pencil Set Edit' %}
    {% set action = 'bluebear_backoffice_pencil_set_edit' %}
    {% set returnRoute = 'bluebear_backoffice_pencil' %}

    {{ block('generic_form') }}
{% endblock %}