{% extends 'BlueBearBackofficeBundle::layout.html.twig' %}

{% block content %}
    <h1>Pencil Edit</h1>
    {% set action = 'bluebear_backoffice_pencil_edit' %}
    {% set returnRoute = 'bluebear_backoffice_pencil' %}
    {% set containerClass = 'edit-pencil' %}

    {{ block('generic_form') }}
    <script>
        $(document).on('ready', function () {
            PencilForm.init($('.edit-pencil'));
        });
    </script>
{% endblock %}