# symfony
app/config/parameters.yml
app/bootstrap.php.cache
app/logs
bin/*
cache
resources
vendor
web/bundles
web/assets
web/css
web/js
*.log

# IDE
.idea

# sprites
web/uploads/sprites
web/uploads/tmp

# kde, apple
.ds_store
.directory

# deployment
.mage/config/environment

# sass
.sass-cache