# symfony
app/config/parameters.yml
app/bootstrap.php.cache
app/logs
bin/*
cache
vendor
web/bundles
*.log
.gitkeep

# composer
composer.lock

# IDE
.idea

# sprites
web/uploads/sprites
web/uploads/tmp

# kde, apple
.ds_store
.directory

# deployment
.mage/config/environment

# sass
.sass-cache