# symfony
app/config/parameters.yml
app/bootstrap.php.cache
app/logs
bin/*
cache
resources
vendor
web/bundles
web/assets
web/css
web/js
web/jikpoze
*.log
backups
.sass-cache

# kde, apple, stuff
.ds_store
.directory
.idea

# deployment
.mage/config/environment

# node, bower
node_modules
bower_components
