{% extends 'BlueBearBackofficeBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
                <h2>BlueBear</h2>
                <p>Psycho pandas and maximum bamboo</p>
                <p><a href="" class="btn btn-primary">Play</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <h2>Fire 3242</h2>
                <p>Become a fireman of the futuuuuuure....</p>
                <img src="{{ asset('img/fire/logo.jpg') }}" alt="fire logo" width="100"/>
                <p><a href="{{ path('bluebear.fire.start') }}" class="btn btn-primary">Play</a></p>
            </div>
        </div>
    </div>
{% endblock %}
