{% extends '@BlueBearWorldBrowser/Map/worldMap.html.twig' %}

{% set size = 64 %}

{% block tg_center %}
    <div class="row">
        <div class="honeycomb col-md-6 black">
            {% for row in 0..4 %}
                <div class="ibws-fix">
                    {% for col in 0..4 %}
                        {% set offset = col is even ? 0 : 1 %}
                        {% set x = cell.x - 2 + col %}
                        {% set y = cell.y - 1 + row - (col - offset) / 2 %}
                        {% set c = map.cell(x, y) %}
                        {% include '@BlueBearWorldBrowser/Map/cell.html.twig' with {
                            cell: c,
                            class: c ? (cell.distance(c) > 1 ? 'fog'),
                            hidden: c ? (cell.distance(c) > 2)
                        } %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-6">
            <a href="{{ admin_path('map', 'worldMap', {id: map.world.id}) }}" class="btn btn-default">
                Back
            </a>
            <a href="{{ admin_path('map', 'build', {id: map.world.id, x: cell.x, y: cell.y}) }}" class="btn btn-primary">
                Create City
            </a>
            <h4>Cell content</h4>
            <ul>
                {% for item in cell.contents %}
                    <li>
                        {{ item }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
