@import "partials/variables";

// Bootstrap overrides, such as the asset-url(..) function.
@import "../../../../../web/bundles/mopabootstrap/sass/bootstrap_and_overrides";

@import "darkly/variables";

// Main bootstrap.sass entry point
@import "../../../../../web/bundles/mopabootstrap/bootstrap-sass/assets/stylesheets/bootstrap/bootstrap";

// The Paginator less for MopaBootstrapBundle
@import "../../../../../web/bundles/mopabootstrap/sass/paginator.scss";

// Collection support for MopaBootstrapBundle
@import "../../../../../web/bundles/mopabootstrap/sass/collections.scss";

// FormFlow support for MopaBootstrapBundle
@import "../../../../../web/bundles/mopabootstrap/sass/form_flow.scss";

@import "darkly/bootswatch";

@import "../../../../../web/bundles/mopabootstrap/sass/font-awesome/font-awesome.scss";

body {
  margin-top: 80px;
}

form {
  input, select {
    color: #dddddd;
  }
}

.edit-pencil {
  .image-widget {
    width: 800px;

    .image {
      //float: left;
      display: inline-block;

      &.active {
        border: 1px solid #428BCA;
      }
    }
  }
  .submit {
    clear: both;
  }
}