/*
Error: File to import not found or unreadable: ../../../../../web/bundles/mopabootstrap/bootstrap-sass/assets/stylesheets/bootstrap/bootstrap.
       Load paths:
         
        on line 9 of backoffice.scss

4: @import "../../../../../web/bundles/mopabootstrap/sass/bootstrap_and_overrides";
5: 
6: @import "darkly/variables";
7: 
8: // Main bootstrap.sass entry point
9: @import "../../../../../web/bundles/mopabootstrap/bootstrap-sass/assets/stylesheets/bootstrap/bootstrap";
10: 
11: // The Paginator less for MopaBootstrapBundle
12: @import "../../../../../web/bundles/mopabootstrap/sass/paginator.scss";
13: 
14: // Collection support for MopaBootstrapBundle

Backtrace:
backoffice.scss:9
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/import_node.rb:66:in `rescue in import'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/import_node.rb:45:in `import'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/import_node.rb:28:in `imported_file'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/import_node.rb:37:in `css_import?'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:157:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/engine.rb:285:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/plugin.rb:82:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/exec/sass_scss.rb:350:in `watch_or_update'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/exec/sass_scss.rb:50:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.7/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.4.7/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:23:in `load'
/usr/local/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ../../../../../web/bundles/mopabootstrap/bootstrap-sass/assets/stylesheets/bootstrap/bootstrap.\A        Load paths:\A          \A         on line 9 of backoffice.scss\A \A 4: @import \"../../../../../web/bundles/mopabootstrap/sass/bootstrap_and_overrides\";\A 5: \A 6: @import \"darkly/variables\";\A 7: \A 8: // Main bootstrap.sass entry point\A 9: @import \"../../../../../web/bundles/mopabootstrap/bootstrap-sass/assets/stylesheets/bootstrap/bootstrap\";\A 10: \A 11: // The Paginator less for MopaBootstrapBundle\A 12: @import \"../../../../../web/bundles/mopabootstrap/sass/paginator.scss\";\A 13: \A 14: // Collection support for MopaBootstrapBundle"; }
