{% extends 'BlueBearBackofficeBundle::layout.html.twig' %}

{% block content %}
    <h1>Map Edit</h1>

    <div class="edit-map">
        <form action="{{ path('bluebear_backoffice_map_edit', { id: form.vars.value.id}) }}" method="post" class="well">
            {{ form_widget(form) }}

            <div class="submit">
                <a href="{{ path('bluebear_backoffice_map') }}">cancel</a>
                <input type="submit" value="save"/>
            </div>
        </form>
    </div>
{% endblock %}