{% extends '@BlueBearBackoffice/layout.html.twig' %}

{% block content %}
    <style>
        body {
            background-color: #404040;
        }

        #page-wrapper {
            background-color: #fff;
        }
    </style>


    {% if saves | length > 0 %}
        the void

        {{ dump(saves) }}
    {% else %}
        <a href="{{ path('bluebear.fire.new') }}" class="btn btn-primary">
            New Game
        </a>
    {% endif %}

{% endblock %}

{% block javascripts %}

{% endblock %}

