{% extends "@BlueBearBackoffice/layout.html.twig" %}

{% block container %}
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-3">
                {{ form_widget(form) }}
            </div>
            <div class="col-md-9">
                {% for race in races %}
                    <span class="hidden race-description {{ race.code }}">
                        {{ race.description | trans | nl2br }}
                    </span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).on('ready', function () {
            var raceDescriptions = $('.race-description');

            $('.race-container').find('input[type=radio]').on('click', function () {
                raceDescriptions.addClass('hidden');
                $('.race-description.' + $(this).val()).show().removeClass('hidden');

            });
        })
    </script>
{% endblock %}
