{% extends 'BlueBearBackofficeBundle::layout.html.twig' %}

{% block rightMenu %}
    <ul class="nav nav-pills nav-stacked">
        <li><a href=""></a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1>Images</h1>
{% endblock %}