{% extends 'BlueBearBackofficeBundle:Pencil:index.html.twig' %}

{% block content %}
    <h1>Unit Edit</h1>
    {% set action = app.request.get('_route') %}
    {% set returnRoute = 'bluebear_backoffice_unit' %}
    {% set containerClass = 'edit-unit' %}

    {{ block('generic_form') }}
{% endblock %}