{% extends 'BlueBearBackofficeBundle::layout.html.twig' %}

{% block rightMenu %}
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('bluebear_backoffice_unit_instance_create') }}">Add new unit instance</a></li>
        <li><a href="{{ path('bluebear_backoffice_unit_model_create') }}">Add new unit model</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1>Units</h1>
    <h2>Units models</h2>

    <div class="units-list">
        {% set entities = unitModels %}
        {% set editRoute = 'bluebear_backoffice_unit_model_edit' %}
        {% set deleteRoute = 'bluebear_backoffice_unit_model_delete' %}
        {% set fields = ['id', 'name'] %}

        {{ block('generic_list') }}
    </div>
    <h2>Units instances</h2>

    <div class="units-list">
        {% set entities = unitInstances %}
        {% set editRoute = 'bluebear_backoffice_unit_instance_edit' %}
        {% set deleteRoute = 'bluebear_backoffice_unit_instance_delete' %}
        {% set fields = ['id', 'name'] %}

        {{ block('generic_list') }}
    </div>
{% endblock %}