parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            PandasAreAwesome

    socket_io_server:  '127.0.0.1:3000'
    socket_io_external_uri:  'http://127.0.0.1:3000'
    dart_port: 8080
