@media -sass-debug-info {
    filename {
        font-family: file\:\/\/\/home\/afrezet\/workspace\/BlueBear\/src\/BlueBear\/BackofficeBundle\/Resources\/sass\/backoffice\.scss
    }

    line {
        font-family: \000031
    }
}

body {
    margin-top: 40px;
}

@media -sass-debug-info {
    filename {
        font-family: file\:\/\/\/home\/afrezet\/workspace\/BlueBear\/src\/BlueBear\/BackofficeBundle\/Resources\/sass\/backoffice\.scss
    }

    line {
        font-family: \000036
    }
}
form input, form select {
    color: #dddddd;
}

@media -sass-debug-info {
    filename {
        font-family: file\:\/\/\/home\/afrezet\/workspace\/BlueBear\/src\/BlueBear\/BackofficeBundle\/Resources\/sass\/backoffice\.scss
    }

    line {
        font-family: \0000312
    }
}
.edit-pencil .image-widget {
    width: 800px;
}

@media -sass-debug-info {
    filename {
        font-family: file\:\/\/\/home\/afrezet\/workspace\/BlueBear\/src\/BlueBear\/BackofficeBundle\/Resources\/sass\/backoffice\.scss
    }

    line {
        font-family: \0000315
    }
}
.edit-pencil .image-widget .image {
    display: inline-block;
}

@media -sass-debug-info {
    filename {
        font-family: file\:\/\/\/home\/afrezet\/workspace\/BlueBear\/src\/BlueBear\/BackofficeBundle\/Resources\/sass\/backoffice\.scss
    }

    line {
        font-family: \0000319
    }
}
.edit-pencil .image-widget .image.active {
    border: 1px solid #428BCA;
}

@media -sass-debug-info {
    filename {
        font-family: file\:\/\/\/home\/afrezet\/workspace\/BlueBear\/src\/BlueBear\/BackofficeBundle\/Resources\/sass\/backoffice\.scss
    }

    line {
        font-family: \0000324
    }
}
.edit-pencil .submit {
    clear: both;
}
