@media -sass-debug-info {
    filename {
        font-family: file\:\/\/\/home\/afrezet\/workspace\/BlueBear\/src\/BlueBear\/BackofficeBundle\/Resources\/sass\/backoffice\.scss
    }

    line {
        font-family: \000032
    }
}

form input, form select {
    color: #dddddd;
}

@media -sass-debug-info {
    filename {
        font-family: file\:\/\/\/home\/afrezet\/workspace\/BlueBear\/src\/BlueBear\/BackofficeBundle\/Resources\/sass\/backoffice\.scss
    }

    line {
        font-family: \000038
    }
}

.edit-pencil .image-widget {
    width: 800px;
}

@media -sass-debug-info {
    filename {
        font-family: file\:\/\/\/home\/afrezet\/workspace\/BlueBear\/src\/BlueBear\/BackofficeBundle\/Resources\/sass\/backoffice\.scss
    }

    line {
        font-family: \0000311
    }
}

.edit-pencil .image-widget .image {
    display: inline-block;
}

@media -sass-debug-info {
    filename {
        font-family: file\:\/\/\/home\/afrezet\/workspace\/BlueBear\/src\/BlueBear\/BackofficeBundle\/Resources\/sass\/backoffice\.scss
    }

    line {
        font-family: \0000315
    }
}

.edit-pencil .image-widget .image.active {
    border: 1px solid #428BCA;
}

@media -sass-debug-info {
    filename {
        font-family: file\:\/\/\/home\/afrezet\/workspace\/BlueBear\/src\/BlueBear\/BackofficeBundle\/Resources\/sass\/backoffice\.scss
    }

    line {
        font-family: \0000320
    }
}

.edit-pencil .submit {
    clear: both;
}
