{% extends 'BlueBearBackofficeBundle::layout.html.twig' %}

{% block title %}Item repository{% endblock %}

{% block content %}
    <div class="list-container">
        {% if (items|length > 0) %}

            {% for item in items %}
                <div class="item">
                    <img src="" />
                </div>
            {% endfor %}

        {% else %}

        {% endif %}
    </div>
{% endblock %}