{% extends 'BlueBearBackofficeBundle::layout.html.twig' %}

{% block content %}
    <h1>Layer Edit</h1>

    <div class="edit-layer">
        <form action="{{ path('bluebear_backoffice_layer_edit', { id: form.vars.value.id}) }}" method="post">
            {{ form_widget(form) }}

            <a href="{{ path('bluebear_backoffice_layer') }}" class="btn"><i class="fa fa-arrow-circle-left"></i>&nbsp;
                &nbsp;cancel</a>
            <input type="submit" value="save" class="btn btn-default"/>
        </form>
    </div>
{% endblock %}