{% extends 'BlueBearBackofficeBundle:Layer:index.html.twig' %}

{% block content %}
    <h1>Layer Edit</h1>
    {% set action = 'bluebear_backoffice_layer_edit' %}
    {% set returnRoute = 'bluebear_backoffice_layer' %}
    {% set containerClass = 'edit-layer' %}

    {{ block('generic_form') }}
{% endblock %}