{% extends 'BlueBearBackofficeBundle::layout.html.twig' %}

{% block rightMenu %}
    {% set menu = {'bluebear_backoffice_layer_edit': 'Add new layer'} %}
    {{ block('menu') }}
{% endblock %}

{% block content %}
    <h1>Layers</h1>
    <div>
        {% set list = layers %}
        {% set editRoute = 'bluebear_backoffice_layer_edit' %}
        {% set deleteRoute = 'bluebear_backoffice_layer_edit' %}

        {{ block('table_list') }}
    </div>
{% endblock %}