{% extends 'BlueBearBackofficeBundle::layout.html.twig' %}

{% block content %}
    <h1>Pencils</h1>

    <a href="{{ path('bluebear_backoffice_layer_edit') }}">Add new layer</a>

    <div>
        {% if layers|length > 0 %}

            {% for layer in layers %}
                <div class="item">
                    <div class="info">
                        {{ layer.name }}
                    </div>
                    <div class="actions">
                        <a href="{{ path('bluebear_backoffice_layer_edit') }}"></a>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            No pencil yet.
        {% endif %}
    </div>
{% endblock %}