{% extends admin.layout is defined ? admin.layout : '' %}

{% use "BlueBearAdminBundle:Form:fields.html.twig" %}

{% block right %}
    {{ render(controller('BlueBearAdminBundle:Menu:menu', {name: 'right'})) }}
{% endblock %}

{% block content %}

    <h1>{{ admin.currentAction.title }}</h1>
    <div class="pencils-list">
        {{ block('admin_list') }}
    </div>
{% endblock %}