{% extends 'BlueBearBackofficeBundle::layout.html.twig' %}

{% block content %}
    <h1>Image Edit</h1>

    <div class="edit-image">
        <form action="{{ path('bluebear_backoffice_image_edit', { id: form.vars.value.id}) }}" method="post">
            {{ form_row(form) }}

            <div class="submit">
                <a href="{{ path('bluebear_backoffice_image_orphans') }}">cancel</a>
                <input type="submit" value="save" />
            </div>
        </form>
    </div>
{% endblock %}