{% extends 'BlueBearBackofficeBundle::layout.html.twig' %}

{% block rightMenu %}
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('bluebear_backoffice_image_upload') }}">Upload an image</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% set title = 'Image Edit' %}
    {% set action = 'bluebear_backoffice_image_edit' %}
    {% set returnRoute = 'bluebear_backoffice_image' %}

    {{ block('generic_form') }}
{% endblock %}