{% extends "BlueBearBackofficeBundle::layout.html.twig" %}

{% block content %}
    <a href="{{ path('bluebear.chess.joinGame') }}" class="find-game">Trouver une partie</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('jikpoze/js/socket.io.js') }}"></script>
    <script>
        var BlueBearClient = {
            socket: null,

            init: function () {
                this.socket = io('http://127.0.0.1:8000');
            },

            findGame: function () {
                this.socket.emit('bluebear.chess.findGame')
            }
        };

        $(document).on('ready', function () {
            BlueBearClient.init();

            $('.find-game').on('click', function () {
                BlueBearClient.findGame();
                console.log('click');

                return false;
            });
        });
    </script>
{% endblock %}
